<nav>
	<a routerLink="/blogs" routerLinkActive="active">Blogs List</a><br/>
	<a routerLink="/blogs/create" routerLinkActive="active">Blog Create</a><br/>
	<a routerLink="/blogs/update/3" routerLinkActive="active">Blog Update 3</a><br/>
</nav>

<router-outlet></router-outlet>
