<h2>Create new blog post!</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
	<div>
		<label for="blog_id">ID: </label>
		<input id="blog_id" type="text" formControlName="id" />
	</div>

	<div>
		<label for="blog_title">Title: </label>
		<input id="blog_title" type="text" formControlName="title" />
	</div>

	<div>
		<label for="blog_text">Body: </label>
		<input id="blog_text" type="text" formControlName="body" />
	</div>

	<div>
		<label for="blog_user_id">User ID: </label>
		<input id="blog_user_id" type="text" formControlName="userId" />
	</div>

	<button type="submit">Create</button>
</form>
