<div>
	 <app-blog-create></app-blog-create>
</div>

<article *ngFor="let blog of blogs">
	<h2>{{ blog.title }}</h2>
	<p>{{ blog.body }}</p>
	<button type="button" (click)="fillForm(blog)">
		Update
	</button>

	<button type="button" (click)="delete(blog)">
		Delete
	</button>
</article>
